@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  margin: 0;
}

#__next {
  /* background: blue; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.a4 {
  width: 210mm !important;
  height: 307mm !important;
  margin: auto !important;
  font-size: 14px;
}
.a4land {
  width: 302mm !important;
  height: 206mm !important;
  margin: auto !important;
  font-size: 14px;
}
.w-h{
  width:100%;
  height: 2.6cm;
}
@media print {
  @page {
    size: A4 ;
  }

  .section {
    height: 100%;
    margin: 0px;
  }

  .print-none,
  .m_none {
    display: none !important;
  }

  #main {
    margin-left: unset !important;
    width: 100%;

  }

  .nav-print {
    position: absolute !important;
    left: -1000px;

  }
}